/*bei allem relevant:*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(234, 234, 234);
}

/*Überschriften:*/
h1{
    color: rgb(0, 0, 0);
}



body{
    width: 900px;
    height: 50%;
    margin: auto;
}

/*nur die drei Seiten zentriert*/
.login, .register, .logout {
    text-align: center;
}

legend {
    display: block;    
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}

/* Buttons von Login, Register*/
.coloredButton{
    background-color: dodgerblue;
}
.Remove{
    color: red;
}
/*
button, input::placeholder, legend {
    font-family: Arial, Helvetica, sans-serif;
} */

/*
p, h1, h2, legend, button, input::placeholder, label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
} */

img {
    border-radius: 50%;
}

.coloredButton {
    color: aliceblue;
}