 .headline{
    color:rebeccapurple
}

body {
    background-color: #F8F9FB;
    wdth
}

body, button, input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

img {
    border-radius: 50%;
  }

.coloredButton {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 9px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}

.greyButton {
    background-color: rgb(164, 163, 163);
    border: none;
    color: white;
    padding: 9px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}

.legendFieldset {
    background-color: white;
    border: 2px dotted rgb(164, 163, 163); 
    padding: 5px; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }


hr {
    border: 2px dotted rgb(164, 163, 163); 
}

<<<<<<< HEAD

#Achtung {
    color:red;
}

a:hover {
    
    font-weight:bold
}
=======
legend {
    text-align:left;
}

input::placeholder {
    text-align:left;

}
>>>>>>> 7c8e9a67f16714a54f9061937134156df13dd773
