/*bei allem relevant:*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(234, 234, 234);
}

/*Überschriften:*/
h1{
    color: rgb(0, 0, 0);
}


/*nur die drei Seiten zentriert*/
.login, .register, .logout {
    /*text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

legend {
    display: block;    
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}

/* Buttons von Login, Register*/
.coloredButton{
    background-color: dodgerblue;
    color: aliceblue;
}

/* Login */
.container {
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 10pt;
    padding-right: 10pt;

}


/* Friendslist */
.friends {
    text-align: left;
    margin: 3px 3px;
}

.friendslist ul{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    width: 95%;

}

.friendslist li {
    padding-bottom: 3pt;
}

#image {
    border-radius: 50%;
    width: 100;
    height: 100;
}


.friendslist a {
    text-decoration: none;
    color:black;
}

.friendslist span {
    float: right;
    background: #007bff; 
    color: white; 
    width: 15pt;
    text-align: center;
    border-radius: 15px;
}

.notifications a {
text-decoration: none;
}

.request {
    display: flex;
    justify-content: space-between;
}

.request-action-buttons {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.input-addFriend {
    box-sizing: border-box;
    font-size: 1em;
    padding: 9px 7px;
    border: 1px solid gray;
    border-radius: 5px;
}

.add input {
    width: 100%;
}

.add {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.addButton {
    display: flex;
    margin-left: 10px;

}

.friends-links {
    color:#007bff;;
}

/* responsive design */

/*lil*/
/*profile*/
.containerprofile{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.pictureprofile{
    order: 1;
    border:none;
}
.profilefield{
    order:2;
}

fieldset{
border:dotted;
background-color: aliceblue;

}
.settings p{
    background-color: aliceblue;
}
.containerprofile p,th,tr,table,td{
    background-color: aliceblue;
}

#Achtung{
    color:red;
}
a:hover{
    color:cornflowerblue;
   font-weight: bold;
}
hr{
    border:dashed;
}

/*lill*/

#chat{
    resize: horizontal;
}

.chat ul{
    width: 95%;
}

.chat span {
    float: right;
    color: rgb(204, 207, 209);
}
.Message{
    box-sizing: border-box;
    font-size: 1em;
    padding: 9px 7px;
    border: 1px solid gray;
    border-radius: 5px;
}
.newMessage input{
    width: 100%;
}
.newMessage{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.sendButton{
    display: flex;
    margin-left: 10px;
}

@media screen and (max-width: 900px) {
    .request {
        width: 100%;
        display: inline-block; 
        margin: 0;
        margin-top: 10pt;
        padding-left: 5pt;
        
    }
    .containerprofile{
        display: inline-block; 
        flex-direction: column;
    }

    .friends h2 {
        margin:0;
    }

    .friends span {
        float: left;
    }

    .profile fieldset {
        width: 100%;
    }

}